<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns='http://www.springframework.org/schema/security'  
  xmlns:beans='http://www.springframework.org/schema/beans' 
  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' 
  xsi:schemaLocation='http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd 
  http://www.springframework.org/schema/security 
  http://www.springframework.org/schema/security/spring-security.xsd'>
  <global-method-security pre-post-annotations='enabled'/> 
  <http pattern='/styles/*' security='none'/>  
  <http pattern='/images/*' security='none'/>   
  <http pattern='/scripts/*' security='none'/>  
  <http use-expressions='true' realm='VDAB'>  
    <form-login login-page='/login' authentication-failure-url='/login?error=true'/>
    <http-basic/>
    <logout/>
    <remember-me token-validity-seconds='86000'/>
    <intercept-url pattern='/filialen/toevoegen' access="hasRole('manager')" /> 
    <intercept-url pattern='/filialen' method='POST' access="hasRole('manager')" /> 
    <intercept-url pattern='/werknemers' access="hasAnyRole('magazijnier','helpdeskmedewerker')" />
    <intercept-url pattern='/' access='permitAll()'/>
    <intercept-url pattern='/login' access='permitAll()'/>
    <intercept-url pattern='/**' access='isAuthenticated()'/>
    <access-denied-handler error-page='/WEB-INF/JSP/forbidden.jsp'/> 
  </http> 
  <authentication-manager> 
    <authentication-provider> 
       <password-encoder hash='sha'>  
        <salt-source user-property='username'/>  
      </password-encoder>
      <jdbc-user-service data-source-ref='dataSource' 
        users-by-username-query='select naam as username, paswoord as password, actief as enabled from gebruikers 
        where naam = ? ' 
        authorities-by-username-query='select gebruikers.naam as username, rollen.naam as authorities from gebruikers inner join gebruikersrollen 
        on gebruikers.id = gebruikersrollen.gebruikerid 
        inner join rollen 
        on rollen.id = gebruikersrollen.rolid 
        where gebruikers.naam=?'/>   
    </authentication-provider> 
  </authentication-manager>
</beans:beans>